version: '3.8'

services:
  web:
    build: .
    ports:
      - "80"
    environment:
      - FLAG=${FLAG}
    volumes:
      - ./src:/var/www/html
    command: >
      sh -c "echo $${FLAG} > /flag.txt && apache2-foreground"
